<div
  class="header-row"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxFlex="initial"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="columnDrop($event)"
>
  <div
    *ngFor="let column of columns; trackBy: trackColumns"
    fxLayoutAlign="start center"
    class="column column-header"
    [class.filter-active]="column.filterValue.length > 0"
    cdkDrag
    (cdkDragStarted)="startDragging()"
    (cdkDragReleased)="stopDragging()"
  >
    <div
      [class]="'header cell ' + column.id"
      [ngStyle]="column | cellStyle"
      [title]="column.description"
      fxLayout="row"
      fxLayoutAlign="start baseline"
      fxLayoutGap=".4rem"
    >
      <!-- primary header content -->
      <div class="overflow" cdkDragHandle>
        {{ column.title }}
      </div>
      <div fxFlex>
        <input
          type="text"
          class="filter-input"
          placeholder="filter"
          [value]="column.filterValue"
          (input)="setFilter(column.id, $event)"
        />
      </div>
      <div
        fxFlex=".2rem"
        class="sort"
        [class.placeholder]="sort?.columnId !== column.id"
        (click)="setSort(column.id, sort)"
      >
        <div
          [class.invert]="
            sort?.order === ORDER.Desc && sort?.columnId === column.id
          "
        >
          ⇡
        </div>
      </div>
    </div>
  </div>
</div>

<!-- virtual scroll for rows -->
<cdk-virtual-scroll-viewport [itemSize]="24" class="county-list" fxFlex>
  <div [ngClass]="{ blurable: true, blurred: isDraggingColumn }">
    <ng-container
      *cdkVirtualFor="let county of counties | sortCounties: sort; index as i"
    >
      <ng-container
        *ngTemplateOutlet="
          rowTemplate;
          context: { county: county, index: i, columns: columns }
        "
      ></ng-container>
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>
<div class="footer" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
  <span>Total items: {{ counties.length }}</span>
</div>

<ng-template
  #rowTemplate
  let-county="county"
  let-index="index"
  let-visibleColumns="columns"
>
  <div
    class="county-item row"
    [class.even]="index % 2"
    fxLayout="row"
    fxLayoutAlign="start stretch"
  >
    <div
      *ngFor="let column of visibleColumns; trackBy: trackColumns"
      fxLayoutAlign="start stretch"
      [class]="'column column-cell ' + column.id"
      [class.filter-active]="column.filterValue.length > 0"
    >
      <div
        fxFlex="initial"
        class="cell"
        [ngStyle]="column | cellStyle"
        [title]="column.description"
      >
        {{ column.display(county) }}
      </div>
    </div>
  </div>
</ng-template>
